<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/task 
    http://www.springframework.org/schema/task/spring-task.xsd ">

	<!--启用定时器配置        -->
	<task:annotation-driven />
	<!--扫描使用注解的包,上面的<context:annotation-config />可以省掉-->
 	<!--<context:component-scan base-package="org.mvc.util"/>-->
<!--  	<bean id="test" class="org.mymvc.util.AccessTokenHuoQu" init-method="accesstokenget" /> -->
</beans>
